.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    min-height: Calc(100vh - 200px);
  }
  
  
  @media only screen and (max-width: 1020px) {
      .grid-container {
          grid-template-columns: auto auto ;
        }
  }
  
  @media only screen and (max-width: 600px) {
      .grid-container {
          grid-template-columns: auto  ;
        }
  }